li.header-cart-item
    .header-cart-item-img
        img(src='images/item-cart-01.jpg', alt='IMG')
    .header-cart-item-txt
        a.header-cart-item-name(href='#')
        | Product about to be bought
        span.header-cart-item-info
        | 1 x $25.00