// Footer
footer.bg6.p-t-45.p-b-43.p-l-45.p-r-45
  a(href='https://www.freeprivacypolicy.com/privacy/view/ed1dc6c878b7404482c2d5951c69a64e', target='_blank') Privacy Policy
  | 
  | | Copyright © 2018 All rights reserved. | This website is based on a template that was made with 
  i.fa.fa-heart-o(aria-hidden='true')
  |  by 
  a(href='https://colorlib.com', target='_blank') Colorlib
// Back to top
#myBtn.btn-back-to-top.bg0-hov
  span.symbol-btn-back-to-top
    i.fa.fa-angle-double-up(aria-hidden='true')
// Container Selection
#dropDownSelect1
#dropDownSelect2
// ===============================================================================================
script(type='text/javascript', src='/vendor/jquery/jquery-3.2.1.min.js')
// ===============================================================================================
script(type='text/javascript', src='/vendor/animsition/js/animsition.min.js')
// ===============================================================================================
script(type='text/javascript', src='/vendor/bootstrap/js/popper.js')
script(type='text/javascript', src='/vendor/bootstrap/js/bootstrap.min.js')
// ===============================================================================================
script(type='text/javascript', src='/vendor/select2/select2.min.js')
script(type='text/javascript').
  $(".selection-1").select2({
  minimumResultsForSearch: 20,
  dropdownParent: $('#dropDownSelect1')
  });
  $(".selection-2").select2({
  minimumResultsForSearch: 20,
  dropdownParent: $('#dropDownSelect2')
  });
// ===============================================================================================
script(type='text/javascript', src='/vendor/daterangepicker/moment.min.js')
script(type='text/javascript', src='/vendor/daterangepicker/daterangepicker.js')
// ===============================================================================================
script(type='text/javascript', src='/vendor/slick/slick.min.js')
script(type='text/javascript', src='/js/slick-custom.js')
// ===============================================================================================
script(type='text/javascript', src='/vendor/sweetalert/sweetalert.min.js')
// ===============================================================================================
script(src='/js/main.js')
