body.animsition
  // Header
  header.header1
    // Header desktop
    .container-menu-header
      .wrap_header
        // Logo
        a.logo(href='/')
          h1.logo-header Deepest Discounts
        p.catchphrase-header Find the deepest discounts (MSRP vs. current price) on Walmart.com products.
        // Header Icon
        .header-icons
          .header-wrapicon2
            img.header-icon1.js-show-header-dropdown(src='/images/icons/icon-header-02.png', alt='ICON')
            span.header-icons-noti 0
            // Header cart noti
            .header-cart.header-dropdown
              ul.header-cart-wrapitem
                include cart-item.pug
                include cart-item.pug
                include cart-item.pug
              .header-cart-total
                | Total: $75.00
              .header-cart-buttons
                .header-cart-wrapbtn
                  // Button
                  a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href='/cart.html')
                    | View Cart
                .header-cart-wrapbtn
                  // Button
                  a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href='#')
                    | Check Out
    // Header Mobile
    .wrap_header_mobile
      // Logo mobile
      a.logo-mobile(href='/')
        h1.mobile-header-text Deepest Discounts
      // Button show menu
      .btn-show-menu
        // Header Icon mobile
        .header-icons-mobile
          .header-wrapicon2
            img.header-icon1.js-show-header-dropdown(src='/images/icons/icon-header-02.png', alt='ICON')
            span.header-icons-noti 0
            // Header cart noti
            .header-cart.header-dropdown
              ul.header-cart-wrapitem
                li.header-cart-item
                  .header-cart-item-img
                    img(src='/images/item-cart-01.jpg', alt='IMG')
                  .header-cart-item-txt
                    a.header-cart-item-name(href='#')
                      | White Shirt With Pleat Detail Back
                    span.header-cart-item-info
                      | 1 x $19.00
                li.header-cart-item
                  .header-cart-item-img
                    img(src='/images/item-cart-02.jpg', alt='IMG')
                  .header-cart-item-txt
                    a.header-cart-item-name(href='#')
                      | Converse All Star Hi Black Canvas
                    span.header-cart-item-info
                      | 1 x $39.00
                li.header-cart-item
                  .header-cart-item-img
                    img(src='/images/item-cart-03.jpg', alt='IMG')
                  .header-cart-item-txt
                    a.header-cart-item-name(href='#')
                      | Nixon Porter Leather Watch In Tan
                    span.header-cart-item-info
                      | 1 x $17.00
              .header-cart-total
                | Total: $75.00
              .header-cart-buttons
                .header-cart-wrapbtn
                  // Button
                  a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href='/cart.html')
                    | View Cart
                .header-cart-wrapbtn
                  // Button
                  a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href='#')
                    | Check Out
        .btn-show-menu-mobile.hamburger.hamburger--squeeze
          span.hamburger-box
            span.hamburger-inner
    // Menu Mobile
    .wrap-side-menu
      nav.side-menu
        ul.main-menu
          li.item-menu-mobile
            a(href='/category/appliances') Appliances
          li.item-menu-mobile
            a(href='/category/arts') Arts, Crafts & Sewing
          li.item-menu-mobile
            a(href='/category/auto') Auto & Tires
          li.item-menu-mobile
            a(href='/category/baby') Baby
          li.item-menu-mobile
            a(href='/category/books') Books
          li.item-menu-mobile
            a(href='/category/clothing') Clothing & Shoes
          li.item-menu-mobile
            a(href='/category/computers') Computers
          li.item-menu-mobile
            a(href='/category/electronics') Electronics
          li.item-menu-mobile
            a(href='/category/games') Games & Puzzles
          li.item-menu-mobile
            a(href='/category/health') Health
          li.item-menu-mobile
            a(href='/category/home') Home
          li.item-menu-mobile
            a(href='/category/jewelry') Jewelry
          li.item-menu-mobile
            a(href='/category/kitchen') Kitchen & Dining
          li.item-menu-mobile
            a(href='/category/pets') Pets
          li.item-menu-mobile
            a(href='/category/smarthome') Smart Home
          li.item-menu-mobile
            a(href='/category/sports') Sports & Outdoors
          li.item-menu-mobile
            a(href='/category/toys') Toys