extends layout.pug

block content
  include header.pug
  // Content page
  section.bgwhite.p-t-55.p-b-65
    .container
      .row
        .col-sm-6.col-md-4.col-lg-3.p-b-50
          .leftbar.p-r-20.p-r-0-sm
            // 
            h4.m-text14.p-b-7.categories
              | Categories
            ul.p-b-54.categories
              li.p-t-4
                a.s-text13.active1(href='#')
                  | All
              li.p-t-4
                a.s-text13(href='#')
                  | Appliances
              li.p-t-4
                a.s-text13(href='#')
                  | Baby
              li.p-t-4
                a.s-text13(href='#')
                  | Books
              li.p-t-4
                a.s-text13(href='#')
                  | Camera & Photo
              li.p-t-4
                a.s-text13(href='#')
                  | Clothing, Shoes & Jewelry
              li.p-t-4
                a.s-text13(href='#')
                  | Computers & Accessories
              li.p-t-4
                a.s-text13(href='#')
                  | Electronics
              li.p-t-4
                a.s-text13(href='#')
                  | Kitchen & Dining
              li.p-t-4
                a.s-text13(href='#')
                  | Smart Home
              li.p-t-4
                a.s-text13(href='#')
                  | Toys & Games
            // 
            .search-product.pos-relative.bo4.of-hidden
              input.s-text7.size6.p-l-23.p-r-50(type='text', name='search-product', placeholder='Search Products...')
              button.flex-c-m.size5.ab-r-m.color2.color0-hov.trans-0-4
                i.fs-12.fa.fa-search(aria-hidden='true')
        .col-sm-6.col-md-8.col-lg-9.p-b-50
          // 
          .flex-sb-m.flex-w.p-b-35
            .flex-w
              .rs2-select2.bo4.of-hidden.w-size12.m-t-5.m-b-5.m-r-10
                select.selection-2(name='sorting')
                  option Default Sorting
                  option Customer Review
                  option Price: low to high
                  option Price: high to low
              .rs2-select2.bo4.of-hidden.w-size12.m-t-5.m-b-5.m-r-10
                select.selection-2(name='sorting')
                  option Price
                  option $0.00 - $20.00
                  option $20.00 - $50.00
                  option $50.00 - $100.00
                  option $100.00 - $200.00
                  option $200.00+
            span.s-text8.p-t-5.p-b-5
              | Showing 1–12 of 16 results
          // Product
          .row
            each product in products
              .col-sm-12.col-md-6.col-lg-4.p-b-50
                // Block2
                .block2
                  .block2-img.wrap-pic-w.of-hidden.pos-relative
                    img(src=`${product.largeImage}`, alt='IMG-PRODUCT')
                    .block2-overlay.trans-0-4
                      .block2-btn-addcart.w-size1.trans-0-4
                        // Button
                        button.flex-c-m.size1.bg4.bo-rad-23.hov1.s-text1.trans-0-4
                          | Add to Cart
                  .block2-txt.p-t-20
                    a.block2-name.dis-block.s-text3.p-b-5(href='product-detail.html')
                      | #{product.name}
                    span.block2-price.m-text6.p-r-5.strikethrough
                      | $#{product.msrp}
                    span.block2-price.m-text6.p-r-5
                      | $#{product.salePrice}
          // Pagination
          .pagination.flex-m.flex-w.p-t-26
            a.item-pagination.flex-c-m.trans-0-4.active-pagination(href='#') 1
            a.item-pagination.flex-c-m.trans-0-4(href='#') 2
  include footer.pug