.col-sm-12.col-md-6.col-lg-4.p-b-50
  // Block2
  .block2
    .block2-img.wrap-pic-w.of-hidden.pos-relative.block2-labelnew
      img(src='images/item-02.jpg', alt='IMG-PRODUCT')
      .block2-overlay.trans-0-4
        .block2-btn-addcart.w-size1.trans-0-4
          // Button
          button.flex-c-m.size1.bg4.bo-rad-23.hov1.s-text1.trans-0-4
            | Add to Cart
    .block2-txt.p-t-20
      a.block2-name.dis-block.s-text3.p-b-5(href='product-detail.html')
        | Way discounted product
      span.block2-price.m-text6.p-r-5
        | $75.00