h1.mobile-header-text {
  font-size: 1.2em;
}

h1.cart-header {
  padding-top: 30px;
  text-align: center;
}

.strikethrough {
  text-decoration: line-through;
  color: tomato;
  padding-right: 20px;
  font-size: 14px;
}


@media (max-width: 576px) {
  .categories {
    display: none;
  }
}

@media (min-width: 576px) {
  h1.mobile-header-text {
    font-size: 2em;
  }
}

@media (min-width: 992px) {
  .catchphrase-header {
    padding-left: 250px;
  }
}

@media (min-width: 1200px) {
  .catchphrase-header {
    padding-left: 100px;
  }
}

@media (min-width: 1660px) {
  .catchphrase-header {
    padding-left: 0px;
  }
}
